AZURE_CLIENT_ID="YOUR_AZURE_CLIENT_ID"
AZURE_TENANT_ID="YOUR_AZURE_TENANT_ID"
SCOPE_DESCRIPTION="user_impersonation"
CLIENT_URL="http://localhost:3000"
DOCLING_URL="http://docling-serve:8000"
HUGGING_FACE_HUB_TOKEN="your_token_here"
OPENAI_API_KEY="your_key"
POSTGRES_USER="myuser"
POSTGRES_PASSWORD="mypassword"
POSTGRES_HOST="paradedb"
POSTGRES_PORT="5432"
POSTGRES_DB="ragbot"
LLM_URL="http://llm:8000/v1"
RERANKER_URL="http://reranker:8000"
EMBEDDING_URL="http://embedding:8000/v1"
BACKEND_PORT="8080"
BACKEND_HOST="0.0.0.0"
BACKEND_DEV="True"
MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="miniopassword"
MINIO_ENDPOINT="http://localhost:9000"
LOCAL_UID=$(id -u)
LOCAL_GID=$(id -g)
HMAC_SECRET="YOURE HMAC SECRET" # Used to pseudonymize user id. Create with openssl rand 32 | base64
